.column
    .section
        h2 flicksy
        h3 description
        p flicksy is a tool for drawing and assembling graphical hypertext games
        p you draw images, collage them into scenes, and then connect the scenes by specifying that clicking certain images in the scene with present some text and then move onto a new scene 