:root {
    --trans-color-1: rgb(32, 32, 32);
    --trans-color-2: rgb(48, 48, 48);
    --trans-gradient: repeating-linear-gradient(
        -45deg,
        var(--trans-color-1),
        var(--trans-color-1) .5em,
        var(--trans-color-2) .5em,
        var(--trans-color-2) 1em
    );

    --background-color-a: #792368;
    --background-color-b: #367b6b;
    --emphasis-color-a: #ffd800;
    --emphasis-color-b: #cef0df;
    --delete-color: #ff7300;
    --text-color: #ffffff;

    font-family: sans-serif;
}

/* width */
::-webkit-scrollbar {
    color: black;
}

/* track */
::-webkit-scrollbar-track {
    background: #754d6d;
    border-left: solid 1px black; 
    border-right: solid 1px black; 
}

/* handle */
::-webkit-scrollbar-thumb {
    background:  rgb(180, 157, 27);
    border-left: solid 1px black; 
}

::-webkit-scrollbar-thumb:hover {
    background: #FFD800; 
}

html, body {
    width: 100vw; height: 100vh;
    margin: 0; padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#content {
    position: relative; overflow: hidden; /* clip things */
    flex: 1;

    cursor: grab;
    background: var(--trans-gradient);
}

.scene {
    position: absolute; transform-origin: 0 0;
    width: 160px; height: 100px;
    outline: 1px dotted rgb(255 255 255 / 5%);
}

.scene .object {
    position: absolute; transform-origin: 0 0;
    outline: 1px dotted rgb(128 128 128 / 50%);
}

.scene .object:hover {
    outline: 1px dotted yellow;
}

.scene .object.selected {
    outline: 1px dotted red;
}

#sidebar {
    width: 320px;
    overflow: hidden scroll;
    
    background: var(--background-color-a);

    display: flex;
    flex-direction: column;
    padding: 1em; gap: 1em;
}

#sidebar select {
    flex: 1; flex-basis: 100%;
    padding: .5em .75em;
    border: 0; border-radius: .5em;

    font-size: .8em;
    font-weight: bold;
    background: var(--emphasis-color-a);
}

#sidebar button {
    padding: .5em .75em;
    border: 0; border-radius: .5em;
    
    font-size: .8em;
    font-weight: bold;
    background: var(--emphasis-color-a);
}

#sidebar button:active {
    filter: invert();
}

#sidebar button.active {
    pointer-events: none;
    color: var(--emphasis-color-a);
    background: var(--background-color-b);
}

#sidebar button.delete {
    background: var(--delete-color);
}

input[type="range"] {
    flex: 1;
}

input[type="text"], textarea {
    flex: 1; flex-basis: 100%; min-width: 0;
    padding: .5em .75em;
    border: 0; border-radius: .5em;
    color: white;
    background: black;
}

textarea {
    resize: vertical;
}

.button-bag {
    display: flex; flex-wrap: wrap;
    padding: 0; gap: .5em;
}

.button-row {
    display: flex; flex-wrap: nowrap;
    justify-items: stretch;
    padding: 0; gap: .5em;
}
.button-row > button {
    flex: 1;
}

.sidebar-panel { 
    display: flex; flex-direction: column;
    padding: 0; gap: 1em;
}

.sidebar-panel > .container { 
    display: flex; flex-direction: column;
    padding: 0; gap: 1em;
}

#sidebar .section {
    padding: 1em;
    border-radius: .5em;

    color: white;
    background: var(--background-color-b);
}

h2, h3 {
    margin-top: .7em;
    margin-bottom: .4em;
}

em {
    font-weight: bold;
    color: var(--emphasis-color-a);
}

a {
    color: var(--emphasis-color-a);
}

#sidebar .section h2 {
    color: var(--emphasis-color-a);
}

#sidebar .section h3 {
    color: var(--emphasis-color-b);
}

#sidebar ol {
    padding-left: 1.2em;
}

#sidebar ol, ul, li {
    margin: .5em 0;
}

.palette-grid {
    display: grid;
    width: 100%;

    gap: .5em;
    grid-template-columns: repeat(4, 3.5em);
    grid-template-rows: repeat(4, 3.5em);

    align-content: center;
    justify-content: center;
}

#sidebar .palette-grid > button {
    width: 100%; height: 100%;
    border-radius: 1em;
    padding: 4px;
    background: none;

    display: flex;
}

*:focus {
    outline: none;
}

#sidebar .palette-grid > button.active {
    background: var(--emphasis-color-a);
}

#sidebar .palette-grid > button > div {
    width: 100%; height: 100%;
    border-radius: .8em;
    background: magenta;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .palette-grid > button.erase-color > div {
    background: var(--trans-gradient);
}

#sidebar .tool-row {
    display: flex; flex-direction: row; 
    gap: .5em;
}

#sidebar .tool-row > button {
    display: flex;
    padding: 4px;
}

#sidebar .tool-row > button.active {
    filter: invert();
    background: var(--emphasis-color-a);
}

#sidebar .tool-row > button > img {
    filter: brightness(0);
    width: 32px; height: 32px;
}
