.sidebar-panel
    .section
        h2 change color
        h3 hue and saturation
        canvas#hswheel
        h3 value
        .button-row
            input#vslider(type="range" min="0" max="1" step="0.01")
        h3 hex code
        .button-row
            input#hexinput(type="text" data-path="color/hex")
        p
        .button-row
            button(data-action="color/confirm") confirm
