.sidebar-panel(data-tab-body="sidebar/drawings")
    .section
        h2 drawing board tab
        h3 getting started
        ol
            li create a drawing using the <em>drawing board</em> section below
            li click the <em>draw</em> button to enter the drawing mode
            li pick a brush size and colour to draw in
            li click and drag on a drawing to draw on it
    .section
        h2 drawing board
        h3 add drawing
        .button-bag
            button add blank
            button import file
    .button-row
        button(data-tab-toggle="drawings/mode/palette") palette
        button(data-tab-toggle="drawings/mode/select") select
        button(data-tab-toggle="drawings/mode/draw") draw
    .section(data-tab-body="drawings/mode/select")
        h2 selected drawing
        h3 name
        .button-row
            input(type="text")
            button.delete delete
        h3 layering
        .button-row
            button raise
            button lower
        h3 size
        .button-row
            input(type="text")
            input(type="text")
            button resize
        h3 other
        .button-row
            button duplicate
            button export
    .section(data-tab-body="drawings/mode/draw")
        h2 drawing tools
        .tool-row
            button(data-tab-toggle="drawings/tool/move")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFZJREFUOI21kkEOACAIwxj//7NejNEE5tDYIxYQxewnbcAcsORNBEI3DGZdsyIpygiudGaOZwdqEVSTVwDAz5pI9GBKbN6g8kWye72JlUV6XmWKMsIzHel3W8445fUQAAAAAElFTkSuQmCC")
            button(data-tab-toggle="drawings/tool/free")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYUlEQVQ4jb2RUQ7AIAhDi/e/c/fDjHMI1Szrn4b3agT4MyQ539kJbGadkwRhs0tKQQSPklRQwekLFHgpUOFQsAO/BLvwQ3ACA0C74WVDsamWDVdwDz3jWQLhfzADcvMXuQC15zwLU3quDgAAAABJRU5ErkJggg==")
            button(data-tab-toggle="drawings/tool/line")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAQElEQVQ4jWNgoBAwkqrh/////+GaGRkZmciylZERbjFZBiC7gj4aRzUPds2M6JqQUxkxAJ4SSdWIYQBF/qYEAAB/ei/rTsuX6AAAAABJRU5ErkJggg==")
            button(data-tab-toggle="drawings/tool/fill")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4jcWOQRKAUAhC4d//zrZyxqiUappY4gMBvlRExOvwoxIN3Sq5gq2SCWrv7kzlmCZJOiXJkSQALOerhusSu0A/p1Z3nMIH1Xmp6ivXlnRw9U4n7YBp9u/aAKUMc8GnWuIfAAAAAElFTkSuQmCC")
        h3 brush
        .tool-row#brushes-container
            button(data-tab-toggle="drawings/brush/1")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAABlJREFUOI1jYBgFwx38/////0C7YRQMDQAApd4D/cefQokAAAAASUVORK5CYII=")
            button(data-tab-toggle="drawings/brush/2")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAABpJREFUOI1jYBgFwx38hwJ8apjo5ZhRMKgBADvbB/vPRl6wAAAAAElFTkSuQmCC")
            button(data-tab-toggle="drawings/brush/3")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAACNJREFUOI1jYBgFgxz8////PyE1jMRoZmRkxKmOYheMgmEBAARbC/qDr1pMAAAAAElFTkSuQmCC")
            button(data-tab-toggle="drawings/brush/4")
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAChJREFUOI1jYBgFgxz8hwJ8ahjxaUZRyMiIVS0TeW4jEhDjhVEwGAAAJhAT9IYiYRoAAAAASUVORK5CYII=")
        h3 color
        #draw-color-palette.palette-grid
            button(data-tab-toggle="drawings/palette/0").erase-color
                div
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                button(data-tab-toggle!="drawings/palette/" + val)
                    div
    .section(data-tab-body="drawings/mode/palette")
        h2 edit palette
        h3 colors
        h3 remap
