.sidebar-panel(data-tab-body="sidebar/drawings")
    .section
        h2 drawing board tab
        h3 getting started
        ol
            li create a drawing using the <em>drawing board</em> section below
            li click the <em>draw</em> button to enter the drawing mode
            li pick a brush size and colour to draw in
            li click and drag on a drawing to draw on it
    .section
        h2 drawing board
        h3 add drawing
        .button-bag
            button add blank
            button import file
    .button-row
        button(data-tab-toggle="drawings/mode/palette") palette
        button(data-tab-toggle="drawings/mode/select") select
        button(data-tab-toggle="drawings/mode/draw") draw
    .section(data-tab-body="drawings/mode/select")
        h2 selected drawing
        h3 name
        .button-row
            input(type="text")
            button delete
        h3 layering
        .button-row
            button raise
            button lower
        h3 size
        .button-row
            input(type="text")
            input(type="text")
            button resize
        h3 other
        .button-row
            button duplicate
            button export
    .section(data-tab-body="drawings/mode/draw")
        h2 drawing tools
        h3 brush
        input(type="range")
        h3 color
    .section(data-tab-body="drawings/mode/palette")
        h2 edit palette
        h3 colors
        .palette-grid
            button(data-tab-toggle="drawings/palette/0")
                div ❌
            button(data-tab-toggle="drawings/palette/1")
                div
            each val in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                button(data-tab-toggle!="drawings/palette/" + val)
                    div
        h3 remap
