.sidebar-panel(data-tab-body="sidebar/map")
    .section
        h2 scene map tab
        h3 getting started
        ol
            li create a scene using the <em>scenes</em> section below
            li click and drag to reposition scenes for easier reference
            li double click a scene to open it in the scene editor tab
    .section
        h2 scenes
        h3 starting scene
        button test1
        h3 previews
        button regenerate
    .section
        h2 selected scene
        h3 name
        .button-row
            input(type="text")
        h3 edit
        .button-row
            button open
            button duplicate
            button.delete delete
        h3 layering
        .button-row
            button raise
            button lower
