.sidebar-panel(data-tab-body="sidebar/map")
    .section
        h2 scene map tab
        h3 getting started
        ol
            li create a scene using the <em>scenes</em> section below
            li click and drag to reposition scenes for easier reference
            li double click a scene to open it in the scene editor tab
    .section
        h2 scenes
        h3 starting scene
        .button-row
            input(type="text" data-path="map/start" disabled)
            button(data-action="map/pick-starting-scene") change
        h3 add scene
        button(data-action="map/add/blank") add blank
        h3 previews
        button(data-action="map/regenerate-previews") regenerate
    .section(data-path="map/selected" hidden)
        h2 selected scene
        h3 name
        .button-row
            input(type="text" data-path="map/selected/name")
        h3 edit
        .button-row
            button(data-action="map/selected/edit") edit
            button(data-action="map/selected/duplicate") duplicate
            button.delete(data-action="map/selected/delete") delete
        h3 layering
        .button-row
            button(data-action="map/selected/raise") raise
            button(data-action="map/selected/lower") lower
        h3 playtest
        button(data-action="map/selected/play") play scene
