.sidebar-panel
    .section
        h2 picker
        h3(data-path="picker/heading") pick an item
        p(data-path="picker/prompt") pick an item for use elsewhere
        .button-row
            button.delete(data-action="picker/none" data-path="picker/none") none
            button(data-action="picker/cancel" data-path="picker/cancel") cancel
