.sidebar-panel(data-tab-body="sidebar/play")
    .section
        h2 play
        h3 getting started
        ol
            li click on objects to trigger dialogue and scene changes
            li restart and replay the game using the <em>restart</em> button below
            li go to the <em>map</em> tab to add new scenes or change the starting scene
            li export your finished game using the <em>export html</em> button below
    .section
        h2 options
        h3 playback
        .button-row
            button.delete(data-action="play/restart") restart
            button(data-action="play/pick-scene") jump to scene
        h3 publish
        button(data-action="project/export/html") export html
