.sidebar-panel(data-tab-body="sidebar/play")
    .section
        h2 play
        h3 getting started
        ol
            li click on objects to trigger dialogue and scene changes
            li restart and replay the game using the <em>restart</em> button below
            li go to the <em>map</em> tab to add new scenes or change the starting scene
            li export your finished game using the <em>export html</em> button below
    .section
        h2 playback
        h3 game
        button.delete(data-action="play/restart") restart
        h3 scene
        .container
            .button-row
                input(type="text" disabled data-path="play/scene")
                button(data-action="play/pick-scene") jump
            button(data-action="play/edit-scene") open scene in editor
    .section
        h2 publish
        h3 export
        button(data-action="project/export/html") export html
