.sidebar-panel(data-tab-body="sidebar/play")
    .section
        h2 play
        h3 getting started
        ol
            li click on objects to trigger dialogue and scene changes
            li go to the <em>map</em> tab to add new scenes or change the starting scene
    .section
        h2 options
        h3 playback
        .button-row
            button(data-action="play/restart") restart
