.sidebar-panel(data-tab-body="sidebar/project")
    .section
        h2 flicksy 
        p a tool for drawing and assembling graphical hypertext games
        h3 getting started
        ol
            li create some drawings in the <em>drawings</em> tab above
            li compose a scene in the <em>scenes</em> tab above
            li playtest by click the <em>play</em> button above
            li export a playable game in the <em>publish</em> tab above
    .section
        h2 project details
        h3 name
        .button-row
            input(type="text")
    .section
        h2 switch projects
        h3 reset to blank project
        button.delete new project
        h3 open another project
        .button-row
            select
                option test
                option test2
        h3 load project from file
        button choose file