.sidebar-panel(data-tab-body="sidebar/publish")
    .section
        h2 publish
        h3 publish your flicksy game on itch.io
        ol
            li click the <em>playable html</em> button in the <em>export</em> section below to download the game
            li create an account on itch.io (<a href="https://itch.io/register">click here</a>)
            li create a new project on itch.io (<a href="https://itch.io/game/new">click here</a>)
            li enter your game's <em>Title</em>
            li set the <em>Kind of project</em> to <em>HTML</em>
            li in the <em>Uploads</em> section, click <em>Upload files</em> and find the playable html file on your computer
            li in the <em>Embed options</em> section, set the dropdown to <em>Click to launch in fullscreen</em> and check the <em>Mobile friendly</em> box
            li scroll down and click <em>Save &amp; view page</em>
            li if everything is working, go back and in the <em>Visibility &amp; access</em> section, set your game to <em>Public</em>
    .section
        h2 export
        .button-bag
            button project data
            button drawing images
            button playable html
    .section
        h2 export zip with music
        h3 music
        .button-bag
            button select audio file
            button export
