.sidebar-panel(data-tab-body="sidebar/scene")
    .section
        h2 scene tab
        h3 getting started
        ol
        h3 dialogue styles
        ol
    .section
        h2 scene
        h3 active scene
        .button-row
            input(type="text" data-path="scene/active/name")
            button(data-action="scene/pick-active") switch
        h3 add object
        button(data-action="scene/add/pick-drawing") pick drawing
    .container(data-path="scene/selected")
        .section
            h2 object appearance
            h3 name
            .button-row
                input(type="text" data-path="scene/selected/name")
            h3 drawing
            .button-row
                input(type="text" data-path="scene/selected/drawing" disabled)
                button(data-action="scene/selected/pick-drawing") change
            h3 layering
            .button-row
                button(data-action="scene/selected/raise") raise
                button(data-action="scene/selected/lower") lower
            h3 other
            .button-row
                button(data-action="scene/selected/duplicate") duplicate
                button.delete(data-action="scene/selected/delete") delete
        .button-row
            button(data-tab-toggle="scene/selected/mode/simple" data-tab-default) simple
            button(data-tab-toggle="scene/selected/mode/script") script
        .section(data-tab-body="scene/selected/mode/simple")
            h2 object behaviour
            h3 dialogue
            .button-row
                textarea(rows=8 data-path="scene/selected/dialogue")
            p
            button preview
            h3 scene change
            .button-row
                input(type="text" data-path="scene/selected/destination" disabled)
                button(data-action="scene/selected/pick-destination") change
        .section(data-tab-body="scene/selected/mode/script")
            h2 object behaviour
            h3 script
            .button-row
                textarea(rows=8 spellcheck="false" data-path="scene/selected/script")

