.sidebar-panel(data-tab-body="sidebar/scene")
    .section
        h2 scene tab
        h3 getting started
        ol
            li create an object using the <em>pick drawing</em> button in the <em>scene</em> section below
            li click and drag the object to position it within the scene
            li type some dialogue into the <em>object behaviour</em> section below
            li click <em>play scene</em> in the <em>playtest</em> section below and click on your object!
    .section
        h2 scene
        h3 active scene
        .container
            .button-row
                input(type="text" data-path="scene/active/name")
                button(data-action="scene/pick-active") switch
            .button-row
                button(data-action="scene/active/play") playtest scene
        h3 add object
        button(data-action="scene/add/pick-drawing") pick drawing
    .container(data-path="scene/selected")
        .section
            h2 object appearance
            h3 name
            .button-row
                input(type="text" data-path="scene/selected/name")
            h3 drawing
            .button-row
                input(type="text" data-path="scene/selected/drawing" disabled)
                button(data-action="scene/selected/pick-drawing") change
            h3 layering
            .button-row
                button(data-action="scene/selected/raise") raise
                button(data-action="scene/selected/lower") lower
            h3 other
            .button-row
                button(data-action="scene/selected/duplicate") duplicate
                button.delete(data-action="scene/selected/delete") delete
        .button-row
            button(data-tab-toggle="scene/selected/mode/simple" data-tab-default) simple
            button(data-tab-toggle="scene/selected/mode/script") script
        .container(data-tab-body="scene/selected/mode/simple")
            .section
                h2 object behaviour
                h3 dialogue
                .button-row
                    textarea(rows=8 data-path="scene/selected/dialogue")
                p
                //button preview
                h3 scene change
                .button-row
                    input(type="text" data-path="scene/selected/destination" disabled)
                    button(data-action="scene/selected/pick-destination") change
            .section
                h2 simple behaviour
                h3 clicking on an object
                ol
                    li text is presented in a series of dialogue boxes
                    li the game jumps to another scene
                h3 dialogue formatting
                p.code page{ep}break
                p.code {+wvy}wavey text{-wvy} and {+shk}shakey text{-shk}
                p.code {clr=red}red text{-clr} and {clr=#FF00FF}magenta text{-clr}
                p.code {delay=.25}slow text{-delay} and {+r}revealed text{-r}
        .container(data-tab-body="scene/selected/mode/script")
            .section
                h2 object behaviour
                h3 script
                .button-row
                    textarea(rows=8 spellcheck="false" data-path="scene/selected/script")
                h3 insert reference
                .button-row
                    button(data-action="scene/selected/script/reference/drawing") drawing
                    button(data-action="scene/selected/script/reference/scene") scene
                    button(data-action="scene/selected/script/reference/object") object
            .section
                h2 scripting
                h3 intro
                p in flicksy2 you can script objects using javascript. it's easiest to use the provided commands but you can do anything
                h3 values
                p #[span.code SCENE] the reference id of this scene
                p #[span.code OBJECT] the reference id of this object
                h3 actions
                p #[span.code SAY("SOME TEXT")] queue dialogue
                p #[span.code LOG("SOME TEXT")] put a line of text in the playtest log, to help debug
                p #[span.code HIDE("object reference")] hide the referenced object, making it invisible and unclickable
                p #[span.code SHOW("object reference")] unhide the referenced object
                p #[span.code SET("variable name", "value")] set a new or existing variable to some value. numbers, reference ids, dialogue, etc all allowed
                p #[span.code GET("variable name")] get the value of a previous set variable. use this is conjunction with an #[span.code if] statement to do conditional scripting
                p #[span.code TRANSFORM("object reference", "drawing reference")] change an object's drawing
                p #[span.code TRAVEL("scene reference")] switch to a new scene
                h3 waiting
                p #[span.code await DIALOGUE] wait until there is no dialogue on screen
                p #[span.code await DELAY(.5)] wait for some number of seconds
                h3 example
                p the default behaviour of an object is as follows:
                p.code await SAY("text from the dialogue editor")<br>TRAVEL("scene reference of destination scene")


