.sidebar-panel(data-tab-body="sidebar/scene")
    .section
        h2 scene tab
        h3 getting started
        ol
        h3 dialogue styles
        ol
    .section
        h2 scene: test
        h3 change scene
        button pick from scene map
        h3 add object
        button pick drawing
    .section
        h2 object appearance
        h3 name
        .button-row
            input(type="text")
            button.delete delete
        h3 drawing
        button pick drawing
        h3 layering
        .button-row
            button raise
            button lower
    .section
        h2 object behaviour
        h3 dialogue
        .button-row
            textarea(rows=8)
        p
        button preview
        h3 scene change
        .button-row
            button pick scene 
            button.delete none
