doctype html
html
    head
        title flicksy 2
        meta(charset="utf-8")
        // styles
        style#base-style
            include styles/base-style.css
        style#editor-style
            include styles/editor-style.css
        // third party libraries
        script
            include library/FileSaver.min.js
        script
            include library/color-diff.min.js
        // scripts
        script
            include scripts/blitsy.js
        script
            include scripts/htmlui.js
        script
            include scripts/editors/drawings.js
        script
            include scripts/flicksy.js
        script
            include scripts/utility.js
        script
            include scripts/main.js
    body(onload="editor.start()")
        #sidebar
            .section
                h2 non-functional wip
            #menu-buttons.button-bag
                button(data-tab-toggle="sidebar/color" hidden) COLOR
                button(data-tab-toggle="sidebar/project" disabled) project
                button(data-tab-toggle="sidebar/drawings" data-tab-default) drawings
                button(data-tab-toggle="sidebar/scene" disabled) scene
                button(data-tab-toggle="sidebar/map" disabled) map
                button(data-tab-toggle="sidebar/publish" disabled) publish
                button(disabled) play
                button(data-action="sidebar/save") save
            #menu-content
                include sidebars/project.pug
                include sidebars/drawings.pug
                include sidebars/scene.pug
                include sidebars/map.pug
                include sidebars/publish.pug
                include sidebars/color.pug
        #content
            #scene
        script#project-data(type="text/json")
            include project.json
